<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/main.css">
        <title>World's Best Cupcakes</title>
    </head>
    <body>
        <header>
            <h1>World's Best Cupcakes</h1>
            <div class="cart-cont">
            <a href="{{ url_for('order') }}">
                <h7>Cart - {{ items_num }}</h7>
            </a>
            <h7>Total: ${{ order_total }}</h7>
            </div>
        </header>
        <main>
            <div class="all-cupcakes-cont">
                {% for cupcake in cupcakes %}
                    <div class="cupcake-cont">
                        <a href="{{ url_for('single_cupcake', name = cupcake['name']) }}" >
                            <h3>{{ cupcake["name"] }}</h3>
                        </a>
                    <h4>Flavor: {{ cupcake["flavor"] }}</h4>
                    <h4>Frosting: {{ cupcake["frosting"] }}</h4>
                    <h4>Price: ${{ cupcake["price"] }}</h4>
                    <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
                        <button>Add to Cart</button>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>