<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <title>Cupcake Order</title>
</head>
<body>
    <header>
        <h1>Order</h1>
    </header>
    <main>
        <a href="{{ url_for('home') }}">home</a>
        <h2>Order Items</h2>
        <table class="table table-bordered" id="cupcake-order">
            <th>
                <h5>Cupcake</h5>
            </th>
            <th>
                <h5>Price</h5>
            </th>
            <th>
                <h5>Quantity</h5>
            </th>
           {% for cupcake in cupcakes %}
           <tr>
                <td>
                    <h6>{{ cupcake[0] }}</h6>
                </td>
                <td>
                    <h6>Price: {{ cupcake[1] }}</h6>
                </td>
                <td>
                    <h6>Qty: {{ cupcake[2] }}</h6>
                </td>
           </tr>
           {% endfor %}
        </table>
    </main>
</body>
</html>