<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/main.css">
    <title>{{ cupcake["name"] }}</title>
</head>
<body>
    <header>
        <h1>{{ cupcake["name"] }}</h1>
    </header>
    <main>
        <a href="{{url_for('home') }}">home</a>
            <div class="cupcake-cont">
                <a href="{{ url_for('single_cupcake', name=cupcake['name']) }}" >
                    <h3>{{ cupcake["name"] }}</h3>
                </a>
            <h4>Flavor: {{ cupcake["flavor"] }}</h4>
            <h4>Frosting: {{ cupcake["frosting"] }}</h4>
            <h4>Price: ${{ cupcake["price"] }}</h4>
            <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
            <button>Add to Cart</button>
                </a>
            </div>
    </main>
</body>
</html>